<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    </head>
    <body dir="rtl">
        <div class="container-fluid">
            <h3 class="text-center">تغییر گذرواژه</h3>
            <h5 class="text-center"><span> تغییر گذرواژه برای کاربر </span><span class="text-primary">{{user.username}}</span></h5>
            <div class="row">
                <div class = "col d-flex justify-content-center">
                    <form method="post" class="form-group mt-3">
                    {% csrf_token %}
                        <input name="email" id="id_email" class="form-control" required='true' type="email" placeholder="لطفا آدرس ایمیل خود را وارد نمایید">

                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{error}}</p>
                            {% endfor %}
                        {% endfor %}
                    <button type="submit" class="btn btn-block btn-primary mt-3 d-block">ارسال ایمیل</button>
                    </form>
                </div>
            </div>
        </div>        
    </body>
</html>